/.vscode
/node_modules
/public/hot
/public/images
/public/data
/public/storage
/storage/*.key
/vendor
/pay
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
