.hd-grid-number {
    text-align: right;
}
.hd-grid-code {
    text-align: center;
}
.hd-grid-edit {
    background-color:#ffff99
}

.div-percent-bar {
    display: inline-block;
    height: 100%;
    position: absolute;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
}

.div-outer-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* custom grid css - 이전 bizest 스타일 형식으로 UI/UX 로 변경 */
.ag-header-row.ag-header-row-column, .ag-header-row.ag-header-row-column-group {
    overflow: inherit;
}

.ag-theme-balham .ag-header-row:not(:first-child) .ag-header-cell, .ag-theme-balham 
.ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group {
	border-top: 0;
}

.ag-header-group-cell-with-group {
    border-bottom: 1px solid #bdc3c7;
}

.ag-header-group-cell-with-group .ag-header-cell {
	transform: translateY(-50%);
	height: 100% !important;
}

.ag-theme-balham .ag-header-cell:after, .ag-theme-balham .ag-header-group-cell:after {
	top: 5%;
	height: 100%;
    height: 100px;
    background-color: lightgray;
}

.ag-header-row.ag-header-row-column-group + .ag-header-row.ag-header-row-column > .bizest.ag-header-cell {
    transform: translateY(-50%);
    height: 200%;
}

.ag-pinned-left-header {
    overflow: visible;
}